Repository yknx4/MongoDBRest, changes with the labels that .github/labeler.yml gives for each.
All labels: test, enhancement, documentation, dependencies, chore

.github/labeler.yml:

test:
  - src/**/*.test.ts

enhancement:
  - src/**/*.ts

documentation:
  - /**/*.md

dependencies:
  - package.json
  - yarn.lock

chore:
  - .github/**/*

chore(deps): pin dependencies
  package.json
  yarn.lock
Labels: dependencies

chore(deps): pin dependency @typescript-eslint/parser to v4.30.0
  package.json
  yarn.lock
Labels: dependencies

chore(deps): pin dependency lodash to 4.17.21
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update styfle/cancel-workflow-action action to v0.9.1
  .github/workflows/tests.yml
Labels: chore

chore(deps): update tj-actions/branch-names action to v4.9
  .github/workflows/tests.yml
Labels: chore

chore(deps): update dependency prettier to v2.4.1
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency @types/jest to v27.0.2
  package.json
  yarn.lock
Labels: dependencies

fix: sentry init
  src/sentry.ts
Labels: enhancement

fix: only load otel when endpoints are available
  src/config.ts
  src/otel.ts
Labels: enhancement

chore(deps): pin dependencies
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update docker/metadata-action commit hash to 09dffb9
  .github/workflows/ghcr.yml
Labels: chore

chore(deps): update dependency @types/lodash to v4.14.175
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update opentelemetry-js monorepo to v1
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency standard to v16.0.4
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update docker/login-action commit hash to 7f47463
  .github/workflows/ghcr.yml
Labels: chore

chore(deps): update docker/metadata-action commit hash to a287d15
  .github/workflows/ghcr.yml
Labels: chore

chore(deps): update dependency @typescript-eslint/parser to v4.33.0
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update opentelemetry-js monorepo
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency jest to v27.2.5
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency ts-jest to v27.0.7
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency jest to v27.3.1
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency @types/lodash to v4.14.176
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency husky to v7.0.4
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update docker/metadata-action commit hash to 548e234
  .github/workflows/ghcr.yml
Labels: chore

chore(deps): update dependency lint-staged to v11.2.6
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency eslint to v8
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency ts-standard to v11
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update docker/login-action commit hash to 5fcefb9
  .github/workflows/ghcr.yml
Labels: chore

chore(deps): update docker/metadata-action commit hash to e562237
  .github/workflows/ghcr.yml
Labels: chore

chore(deps): update dependency @types/lodash to v4.14.178
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update jest monorepo
  package.json
  yarn.lock
Labels: dependencies

fix(deps): update opentelemetry-js monorepo
  package.json
  yarn.lock
Labels: dependencies

Update renovate.json
  renovate.json
Labels: none

chore(deps): update dependency @typescript-eslint/parser to v5
  package.json
  yarn.lock
Labels: dependencies

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Labels: dependencies

Update renovate.json
  renovate.json
Labels: none
